.shareIcons_circleItemBox__Eydd_ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    @media (max-width: 768px) {
        scale:.75
    }
}

.shareIcons_shareIconsBox__2kMED {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.shareIcons_circleItemBox__Eydd_:hover {
    transition: all .2s ease-in-out;
    opacity: .6
}

.shareIcons_shareCircleIconsBox__iBjUJ {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around
}

.shareIcons_simpleShareIcon__c4wRl {
    min-width: 20px;
    display: flex;
    align-items: center;
    cursor: pointer
}

.shareIcons_simpleShareIcon__c4wRl:hover {
    transition: all .2s ease-in-out;
    margin-top: -5px;
    opacity: .6
}

.shareIcons_popBox__R_IUE {
    display: flex;
    width: 160px;
    padding: 16px 32px 10px 24px;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    border-radius: 20px;
    border: 1px solid hsla(0,0%,100%,.2);
    background: #141414
}

.shareIcons_popItemTxt__1wYch {
    color: #fff;
    font-family: DotNator;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100px;
    flex-shrink: 0;
    text-decoration: none
}

.footer_email__Z_HiC {
    color: #fff;
    font-family: Cygnito Mono Pro;
    font-size: 14px;
    font-weight: 400
}

.footer_footerMenuItem__YI8t3 {
    color: grey;
    font-family: Cygnito Mono Pro;
    font-size: 10px;
    font-weight: 400;
    white-space: nowrap;
    text-decoration-line: underline
}

.footer_footerMenuBox__7lZZ0 {
    display: flex;
    width: 321px;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 12px;
    gap: 15px
}

.footer_footerBox__k6KNV {
    max-width: 450px;
    width: 90vw;
    display: flex;
    flex-direction: column
}

.footer_footerShareBox__KUq9J {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row
}

.footer_footerTitle__p8e0C {
    color: #fff;
    text-align: center;
    font-family: Cygnito Mono Pro;
    font-size: 12px;
    width: 100%;
    margin-bottom: 13px
}

@media (max-width: 768px) {
    .footer_footerMenuBox__7lZZ0 {
        display:none
    }

    .footer_footerShareBox__KUq9J {
        margin-bottom: 26px
    }

    .footer_footerTitle__p8e0C {
        margin-bottom: 8px
    }
}

.footer_footerDesc___OWsp {
    color: grey;
    text-align: center;
    font-family: Cygnito Mono Pro;
    font-size: 10px;
    align-self: center;
    width: 80vw;
    max-width: 630px;
    margin-bottom: 13px
}

.header_container__4LH1a {
    width: 100vw;
    z-index: 99999
}

.header_connectButton__Qgpql {
    height: 40px;
    background: #75f9c8;
    color: #000;
    cursor: pointer;
    text-align: center;
    transform-origin: center;
    background: var(--gradient-green-to-pink,#a8a669)
}

.header_connectButtonBox__0thUx {
    position: absolute;
    right: 58px;
    height: 40px;
    display: flex;
    align-items: center
}

.header_menuButton__1p7y_ {
    background: #cd1a27;
    color: #fff;
    font-size: 12px;
    font-family: DotNator;
    cursor: pointer;
    height: 36px;
    padding: 0 27px;
    display: none
}

.header_logo__TCQOL {
    position: absolute;
    left: 71px;
    cursor: pointer
}

.header_languagesPop__YIa5k {
    border-radius: 20px;
    border: 1px solid hsla(0,0%,100%,.25);
    background: #141414
}

.header_languagesTitle__DvWJE {
    color: #fff;
    font-family: DotNator;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px
}

.header_languagesLabel__Opmz6 {
    color: #fff;
    font-family: Cygnito Mono Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    white-space: nowrap
}

@media (max-width: 768px) {
    .header_connectButton__Qgpql {
        font-size:8px
    }

    .header_menuButton__1p7y_ {
        display: flex
    }

    .header_logo__TCQOL {
        height: 40px!important;
        width: 36px!important;
        left: 20px
    }

    .header_headerMenuTxt__LkT_i {
        font-size: 6px
    }

    .header_languagesLabel__Opmz6 {
        color: #fff;
        font-family: Cygnito Mono Pro;
        font-size: 18px;
        line-height: 48px
    }
}

.header_mobileMenusTxt__yINX_ {
    font-family: DotNator;
    font-size: 10px;
    line-height: 59px
}

.header_emailTxt__j98bA,.header_mobileMenusTxt__yINX_ {
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 400
}

.header_emailTxt__j98bA {
    font-family: Cygnito Mono Pro;
    font-size: 14px;
    line-height: normal;
    padding-top: 22px;
    padding-bottom: 20px
}

.styles_popBox__qeeKs {
    display: flex;
    padding: 10px 5px;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    border-radius: 20px
}

.styles_popBlack__Vpt7o {
    border: 1px solid hsla(0,0%,100%,.2);
    background: #141414
}

.styles_popWrite__83fbO {
    border: 1px solid rgba(0,0,0,.2);
    background: #fff
}

.styles_popItemTxt__duOEC {
    font-family: DotNator;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    text-decoration: none
}

.styles_popItemTxt__duOEC:hover {
    opacity: .5
}

.style_circleItemBox__jokCj {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    @media (max-width: 768px) {
        scale:.75
    }
}

.style_shareIconsBox__oQdvW {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.style_circleItemBox__jokCj:hover {
    transition: all .2s ease-in-out;
    opacity: .6
}

.style_shareCircleIconsBox__Xrn4P {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around
}

.style_simpleShareIcon__84XR5 {
    min-width: 20px;
    display: flex;
    align-items: center;
    cursor: pointer
}

.style_simpleShareIcon__84XR5:hover {
    transition: all .2s ease-in-out;
    margin-top: -5px;
    opacity: .6
}

.style_popBox__OQyBR {
    display: flex;
    padding: 16px 32px 10px 24px;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    border-radius: 20px
}

.style_popBlack__aYDnb {
    border: 1px solid hsla(0,0%,100%,.2);
    background: #141414
}

.style_popWrite__4nhw7 {
    border: 1px solid rgba(0,0,0,.2);
    background: #fff
}

.style_popItemTxt__5g4W6 {
    font-size: 9px;
    line-height: normal;
    flex-shrink: 0;
    text-decoration: none
}

.style_languagesTitle__5nMae,.style_popItemTxt__5g4W6 {
    color: #fff;
    font-family: DotNator;
    font-style: normal;
    font-weight: 400
}

.style_languagesTitle__5nMae {
    font-size: 10px;
    line-height: 48px
}

.headerWrapper_container__NIsoJ {
    width: 100vw;
    z-index: 99999
}

.headerWrapper_fadeInSection__OuvSv {
    opacity: 0;
    transform: translateY(15vh);
    visibility: hidden;
    transition: opacity 1s ease-out,transform 1s ease-out;
    will-change: opacity,visibility
}

.headerWrapper_fadeInSection__OuvSv.headerWrapper_isVisible__FIoay {
    opacity: 1;
    transform: none;
    visibility: visible
}

.footer_email__Tx_Kc {
    color: #fff;
    font-family: Cygnito Mono Pro;
    font-size: 14px;
    font-weight: 400
}

.footer_footerMenuItem__U9WaH {
    color: grey;
    font-family: Cygnito Mono Pro;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    text-decoration-line: underline
}

.footer_footerMenuBox__iTYMR {
    display: flex;
    width: 321px;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 12px;
    gap: 15px
}

.footer_footerBox__YAN8x {
    max-width: 450px;
    width: 90vw;
    display: flex;
    flex-direction: column
}

.footer_footerShareBox__WSUP1 {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row
}

.footer_footerTitle__PQJQ1 {
    color: #fff;
    text-align: center;
    font-family: Cygnito Mono Pro;
    font-size: 12px;
    width: 100%;
    margin-bottom: 13px
}

@media (max-width: 768px) {
    .footer_footerMenuBox__iTYMR {
        display:none
    }

    .footer_footerShareBox__WSUP1 {
        margin-bottom: 26px
    }

    .footer_footerTitle__PQJQ1 {
        margin-bottom: 8px
    }
}

.footer_footerDesc__RTjwc {
    color: grey;
    text-align: center;
    font-family: Cygnito Mono Pro;
    font-size: 10px;
    align-self: center;
    width: 80vw;
    max-width: 630px;
    margin-bottom: 13px
}

.header_container__5OR6W {
    width: 100vw;
    z-index: 99999
}

.header_connectButton__YTy5u {
    height: 40px;
    background: #75f9c8;
    color: #000;
    font-size: 12px;
    font-family: DotNator;
    cursor: pointer;
    text-align: center
}

.header_connectButtonBox__bgTlu {
    position: absolute;
    right: 58px;
    height: 40px;
    display: flex;
    align-items: center
}

.header_menuButton__glflc {
    background: #cd1a27;
    color: #fff;
    font-size: 12px;
    font-family: DotNator;
    cursor: pointer;
    height: 36px;
    padding: 0 27px;
    display: none
}

.header_logo__NQC1E {
    position: absolute;
    left: 71px;
    cursor: pointer
}

.header_languagesPop__4ltAR {
    border-radius: 20px;
    border: 1px solid hsla(0,0%,100%,.25);
    background: #141414
}

.header_languagesTitle__DTd0y {
    color: #fff;
    font-family: DotNator;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px
}

.header_languagesLabel__gNn_C {
    color: #fff;
    font-family: Cygnito Mono Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    white-space: nowrap
}

@media (max-width: 768px) {
    .header_connectButton__YTy5u {
        font-size:8px;
        padding: 0 12px
    }

    .header_menuButton__glflc {
        display: flex
    }

    .header_logo__NQC1E {
        height: 40px!important;
        width: 36px!important;
        left: 20px
    }

    .header_headerMenuTxt__yFGub {
        font-size: 6px
    }

    .header_languagesLabel__gNn_C {
        color: #fff;
        font-family: Cygnito Mono Pro;
        font-size: 18px;
        line-height: 48px
    }
}

.header_mobileMenusTxt__5xJzO {
    font-family: DotNator;
    font-size: 10px;
    line-height: 59px
}

.header_emailTxt__20B6s,.header_mobileMenusTxt__5xJzO {
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 400
}

.header_emailTxt__20B6s {
    font-family: Cygnito Mono Pro;
    font-size: 14px;
    line-height: normal;
    padding-top: 22px;
    padding-bottom: 20px
}

.headerWrapper_tips__C1tHn {
    color: #000;
    text-align: center;
    font-family: Rapid ST Trial Normal;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase
}

.headerWrapper_container__kWbDx {
    width: 100vw;
    z-index: 99999
}

.headerWrapper_fadeInSection__sVX2E {
    opacity: 0;
    transform: translateY(15vh);
    visibility: hidden;
    transition: opacity 1s ease-out,transform 1s ease-out;
    will-change: opacity,visibility
}

.headerWrapper_fadeInSection__sVX2E.headerWrapper_isVisible__D9K_F {
    opacity: 1;
    transform: none;
    visibility: visible
}

.headerWrapper_popInSection__Ul_Vv {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease,transform .8s ease,visibility .8s ease;
    will-change: opacity,visibility;
    transform: scale(.8)
}

.headerWrapper_popInSection__Ul_Vv.headerWrapper_isVisible__D9K_F {
    opacity: 1;
    visibility: visible;
    transform: scale(1)
}

.styles_notifyButton__CewSf {
    border-radius: 40px;
    height: 40px;
    background: #cd1a27
}

.styles_notifyButtonTxt__6TgfK {
    font-size: 12px;
    scale: .67;
    font-family: DotNator;
    color: #fff;
    text-align: center;
    white-space: nowrap
}

.faq_question__mzUTB {
    font-family: DotNator;
    font-size: 12px
}

.faq_question__mzUTB,.faq_reply__QIfMx {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.faq_reply__QIfMx {
    font-family: Cygnito Mono Pro;
    font-size: 16px;
    margin-bottom: 42px
}

@media (max-width: 768px) {
    .faq_question__mzUTB {
        font-size:8px
    }

    .faq_reply__QIfMx {
        font-size: 14px;
        margin-bottom: 12px
    }
}

.asSeenOn_scrollClient__Hf73K {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    animation-name: asSeenOn_loopClient__GqOZp;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal
}

.asSeenOn_scrollClient__Hf73K:hover {
    animation-play-state: paused
}

@keyframes asSeenOn_loopClient__GqOZp {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-33.333%)
    }
}

@keyframes asSeenOn_loopMobile__zJt2k {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(-33.333%)
    }
}

.asSeenOn_scrollMobile__jZpLA {
    animation-name: asSeenOn_loopMobile__zJt2k;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal
}

.asSeenOn_scrollMobile__jZpLA::-webkit-scrollbar {
    display: none
}

.asSeenOn_scrollBox__bsv2p {
    width: 100vw;
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.asSeenOn_scrollBox__bsv2p::-webkit-scrollbar {
    display: none
}

.asSeenOn_scrollBoxItem__nrJ4I {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: center;
    scroll-snap-stop:always;flex-shrink: 0
}

.asSeenOn_scrollBoxItem__nrJ4I::-webkit-scrollbar {
    width: 0
}

.content_titleHeader__LoEm0 {
    width: 100%;
    margin-bottom: 20px
}

.content_title__ux_Ri {
    color: #fff;
    text-align: center;
    font-family: Cygnito Mono Pro;
    font-size: 20px;
    font-weight: 400
}

@media (max-width: 768px) {
    .content_titleHeader__LoEm0 {
        font-size:14px;
        margin-bottom: 17px
    }

    .content_title__ux_Ri {
        font-size: 15px;
        line-height: 20px
    }
}

.content_card__l8H_0 {
    width: 100%
}

.content_cardHeader___fQzU {
    background: #141414;
    padding: 24px 20px 22px
}

.content_cardHeaderTitle__VAMhW {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase
}

@media (max-width: 768px) {
    .content_cardHeader___fQzU {
        padding:18px 16px 15px
    }

    .content_cardHeaderTitle__VAMhW {
        font-size: 16px
    }
}

.content_progressBox__HlcQW {
    border-radius: 20px;
    border: 2px solid #3d3d3d;
    height: 24px;
    margin: 12px 0;
    overflow: hidden
}

@keyframes content_flowAnimation__Ehq6C {
    0% {
        filter: hue-rotate(0)
    }

    to {
        filter: hue-rotate(1turn)
    }
}

.content_progressBar__wHe94 {
    height: 100%;
    border-radius: 20px;
    border: 2px solid #000;
    animation: content_flowAnimation__Ehq6C 1.5s linear infinite;
    background: linear-gradient(45deg,#56aac2,#75f9c8,#ffc107,#cd1b27,#9c27b0);
    background-size: 200% auto
}

.content_progressSection___TWLW {
    height: 100%;
    border-right: 1px solid #000;
    transform: skewX(-30deg);
    flex-shrink: 0;
    width: 26px
}

.content_cardHeaderDesc__xPuSo {
    color: #fff;
    font-variant-numeric: ordinal;
    font-feature-settings: "ss11" on,"ss08" on,"ss03" on,"ss02" on,"ss01" on,"ss10" on,"salt" on,"ss09" on;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    line-height: normal
}

@media (max-width: 768px) {
    .content_cardHeaderDesc__xPuSo {
        font-size:15px
    }
}

.content_cardContent__m0bUO {
    padding: 20px
}

@media (max-width: 768px) {
    .content_cardContent__m0bUO {
        padding:17px
    }
}

.content_cardContentPrice__u1CC_ {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    line-height: normal
}

@media (max-width: 768px) {
    .content_cardContentPrice__u1CC_ {
        font-size:13px
    }
}

.content_cardLine__r2qCP {
    height: 1px;
    width: 100%;
    background-color: #a5aaae;
    margin-top: 21px;
    margin-bottom: 17px
}

@media (max-width: 768px) {
    .content_cardLine__r2qCP {
        margin-top:15px;
        margin-bottom: 12px
    }
}

.content_selectNetworkTitle__UErKX {
    color: #a5aaae;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    letter-spacing: .32px;
    @media (max-width: 768px) {
        font-size:13px
    }
}

@media (max-width: 768px) {
    .content_selectNetworkTitle__UErKX {
        font-size:13px
    }
}

.content_cardContentActiveButton__txays {
    border: 1px solid #000;
    background: #fff;
    padding: 0 12px;
    font-size: 16px;
    height: 40px
}

.content_cardContentButton__ycf0V {
    border: 1px solid #a5aaae;
    background: #fff;
    padding: 0 12px;
    font-size: 16px;
    height: 40px
}

.content_inputBar__o2mEP {
    background: #fff;
    border-radius: 20px;
    height: 80px;
    padding: 10px 14px
}

.content_inputLabel__1zJyQ {
    color: #a5aaae;
    font-family: Cabin;
    font-size: 14px
}

.content_input__LjUiK {
    white-space: pre-wrap;
    color: #000;
    font-family: Cabin;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: .28px
}

.content_input__LjUiK::-moz-placeholder {
    color: #a5aaae;
    font-family: Cabin;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: .28px
}

.content_input__LjUiK::placeholder {
    color: #a5aaae;
    font-family: Cabin;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: .28px
}

@media (max-width: 768px) {
    .content_cardContentActiveButton__txays,.content_cardContentButton__ycf0V {
        height:30px;
        font-size: 13px;
        padding: 0 7px
    }

    .content_inputBar__o2mEP {
        font-size: 13px;
        padding: 9px 13px
    }

    .content_inputLabel__1zJyQ {
        font-size: 12px
    }
}

.content_inputPrice__IFAVE {
    all: unset;
    color: #000;
    font-family: Cabin;
    font-size: 20px;
    letter-spacing: .4px;
    text-align: left;
    display: flex;
    -moz-appearance: textfield;
    cursor: text;
    flex: 1
}

.content_inputPrice__IFAVE::-webkit-inner-spin-button,.content_inputPrice__IFAVE::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.content_inputType__LENtb {
    color: #a5aaae;
    font-family: Cabin;
    font-size: 16px;
    letter-spacing: .4px;
    text-align: right;
    margin-right: 5px;
    margin-left: 5px
}

@media (max-width: 768px) {
    .content_inputPrice__IFAVE {
        font-size:17px
    }

    .content_inputType__LENtb {
        font-size: 14px
    }
}

.content_inputCenterIcon__291xA {
    margin-top: -14px;
    margin-bottom: -14px
}

.content_submitBox__Qf21_ {
    display: flex;
    flex-direction: column
}

.content_connectWalletButton__IZQvX {
    all: unset;
    border-radius: 50px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #75f9c8;
    margin-bottom: 10px;
    color: #000;
    text-align: center;
    font-family: DotNator;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #000
}

.content_buyWithBNBButton__kb2fP {
    all: unset;
    cursor: pointer;
    border-radius: 50px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cd1a27;
    background: #fff;
    margin-bottom: 10px;
    color: #cd1a27;
    text-align: center;
    font-family: DotNator;
    font-size: 14px;
    font-weight: 400
}

.content_howToBuyButton__z69J7 {
    all: unset;
    cursor: pointer;
    border-radius: 50px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #a5aaae;
    background: #fff;
    color: #000;
    text-align: center;
    font-family: DotNator;
    font-size: 14px;
    font-weight: 400
}

@media (max-width: 768px) {
    .content_buyWithBNBButton__kb2fP,.content_connectWalletButton__IZQvX,.content_howToBuyButton__z69J7 {
        font-size:8px;
        height: 40px
    }
}

.content_cardFooter__jo4JU {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 24px
}

.content_cardFooterDesc__NQf7J {
    color: #fff;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-right: 9px
}

.content_purchasedStatus__7sxRb {
    background-color: #2c2c2c;
    margin-top: 10px;
    border-radius: 20px;
    padding: 15px 18px
}

@media (max-width: 768px) {
    .content_purchasedStatus__7sxRb {
        margin-top:15px;
        padding: 12px 18px
    }
}

.content_purchasedLabel__TBs9p {
    font-size: 14px;
    color: #a5aaae;
    font-family: Cabin
}

.content_purchasedValue__L0KUL {
    font-size: 18px;
    font-family: Cabin
}

.content_stageBar__LMJX5 {
    padding: 20px
}

@media (max-width: 768px) {
    .content_purchasedValue__L0KUL {
        font-size:14px
    }

    .content_stageBar__LMJX5 {
        padding: 17px
    }
}

.content_scrollBarHidden__q0fpT::-webkit-scrollbar {
    display: none
}

.content_rightBck__lLlrO {
    position: absolute;
    right: -10%;
    bottom: -82px;
    max-height: 88%;
    -o-object-fit: contain;
    object-fit: contain
}

.content_card__l8H_0 {
    border-radius: 40px;
    border: 2px solid #f4f0e5;
    background: #f4f0e5;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.25)
}

.roadmap_card__3DO3B {
    border-radius: 30px;
    border: 2px solid hsla(0,0%,100%,.2);
    background: #000;
    padding: 42px 50px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1
}

.roadmap_subTitle__Ceh0v {
    color: #fff;
    text-align: center;
    font-family: Cygnito Mono Pro;
    font-size: 16px;
    margin: 0 auto 16px
}

.roadmap_cardTitle__HcUbv,.roadmap_subTitle__Ceh0v {
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.roadmap_cardTitle__HcUbv {
    color: #ea3323;
    font-family: DotNator;
    font-size: 12px;
    letter-spacing: -.24px;
    text-transform: uppercase
}

.roadmap_scrollBox__mdpnn {
    width: 100vw;
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    overflow-x: scroll;
    position: relative
}

.roadmap_scrollBoxItem__crWid {
    height: inherit;
    display: flex;
    scroll-snap-align: center;
    scroll-snap-stop:always}

@media (max-width: 768px) {
    .roadmap_cardTitle__HcUbv {
        font-size:10px
    }

    .roadmap_subTitle__Ceh0v {
        font-size: 15px
    }
}

.roadmap_scrollBox__mdpnn::-webkit-scrollbar {
    width: 0
}

.style_scrollClient__Rb1Zx {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    animation-name: style_loopClient__3bwYU;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal
}

.style_scrollClient__Rb1Zx:hover {
    animation-play-state: paused
}

@keyframes style_loopClient__3bwYU {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-33.333%)
    }
}

.TextField_formGroup__k4V3a {
    position: relative
}

.TextField_formControl__OzhTa {
    all: unset;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid grey;
    padding: 6px 3px;
    font-family: Cygnito Mono Pro;
    font-weight: 400;
    margin-top: 8px;
    font-size: 18px
}

.TextField_formLabel__mEWEg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    padding: 8px 0;
    transition: all .2s ease;
    font-family: Cygnito Mono Pro;
    color: #b3b3b3;
    font-size: 16px
}

@media (max-width: 768px) {
    .TextField_formControl__OzhTa {
        font-size:16px
    }

    .TextField_formLabel__mEWEg {
        font-size: 14px
    }
}

.TextField_formControlValid__Z3veV,.TextField_formControl__OzhTa:focus+label {
    font-size: 15px;
    transform: translateY(-20px)
}

.TextField_formControl__OzhTa:focus+label {
    color: #b3b3b3
}

.TextField_formError__Z3D8D {
    color: #cd1a27;
    font-family: Cygnito Mono Pro;
    font-size: 12px;
    font-weight: 400;
    margin-top: 3px;
    height: 20px;
    width: 100%
}

.desktop_notifyAccept__FFTxY {
    color: #b3b3b3;
    text-align: center;
    font-family: Cygnito Mono Pro;
    font-size: 14px;
    margin-bottom: 35px;
    margin-top: 33px
}

.desktop_notifyButton__rL7Li {
    all: unset;
    border-radius: 40px;
    height: 40px;
    background: #cd1a27;
    text-align: center;
    color: #fff;
    font-size: 9px;
    white-space: nowrap;
    font-family: DotNator;
    width: 100%
}

@media (min-width: 768px) {
    .desktop_notifyButton__rL7Li {
        width:260px
    }
}

@media (max-width: 768px) {
    .desktop_notifyButton__rL7Li {
        width:260px
    }

    .desktop_notifyAccept__FFTxY {
        font-size: 12px;
        margin-top: 25px;
        margin-bottom: 30px
    }
}

.subscribe_join__BmA7x {
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: .24px;
    margin-bottom: 55px
}
